*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fefbf2;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
nav{
    padding: 16px 10%;
    height: 18vh;
}
nav ul{
    display: flex;
    align-items: center;
    gap: 80px;
}
li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    font-weight: 600;
    color: #000000;
}
nav ul li img{
    width: 100px;
    margin: 5px;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
}
.left{
    width: 46%;
}
.left h1{
    font-size: 55px;
    line-height: 60px;
    font-weight: 600;
}
.left p{
    margin: 3% 0;
    word-spacing: 1px;
}
button{
    padding: 10px 15px;
    color: #ffffff;
    background-color: #3b855b;
    border: 1px solid #fefbf2;
    font-size: 18px;
    font-weight: 500;
    border-radius: 10px;
}
button:hover{
    background-color: #ffffff;
    color: #3b855b;
    border: 1px solid #000000;
}
.up > img{
    width: 40%;
    padding: 10px 8px;
}
.down > img{
    width: 80%;
    padding: 0 5px;
}